doctype html
html
	head
		title Foto Chemixz
		meta(chartset="utf-8")
		link(href="/css/bootstrap.min.css" rel="stylesheet")
		link(href="/css/ownstyle.css" rel="stylesheet")
	body
		nav(class="large-padding black_g ")
			ul
				li
					a(href="/dashboard") track
				li
					a(href="/") Index
		div(class="container-fluid")
			block contenido
		script(src="/js/jquery.js")
		script(src="/js/bootstrap.js")